/* Box Model Reset */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

/* Font-family */

body {
  font-family: sans-serif;
}

/* upper section */

nav {
  height: 80px;
  width: 100%;
}

label.logo {
  line-height: 40px;
  font-weight: bold;
  font-size: 24px;
}

nav ul {
  float: right;
  margin-right: 100px;
}
nav ul li {
  display: inline-block;
  line-height: 40px;
  margin: 0px 15px;
}

nav ul li a {
  color: #f9faf8;
  border-radius: 3px;
  font-size: 18px;
}

a:hover {
  background: #1b9bff;
  transition: 0.5s;
}

.hero,
footer {
  background-color: #1f2037;
  padding: 0 100px;
  color: #f9faf8;
}

.hero {
  height: 460px;
  /* background-color: #1f2037; */
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}

.main-content {
  padding: 125px 0;
}

.secondary-text {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  padding: 10px 0;
}

.btn {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  padding: 5px 20px;
  border: none;
}

.secondary-text,
.main-text,
#main-signup {
  position: relative;
  bottom: 65px;
}

img.banner-img {
  float: right;
  margin-right: 100px;
  position: relative;
  bottom: 260px;
  background-color: gray;
  height: 220px;
  width: 500px;
}
